* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

h1,
h2 {
    
    font-weight: 700;
}

h2{
    margin-bottom: 20px;
}

label {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

button{
    background-color: rgb(225, 146, 19);
    color: #fff;
    font-family: "Poppins", serif;
    font-weight: 900;
    font-size: 18px;
    font-style: italic;
}

button:hover {
    background-color: rgb(242, 205, 147)
}