$corPrincipal: rgb(186, 138, 138);
$corSecundaria: rgb(73, 62, 62);
$fontePrincipal: "Playwrite IT Moderna", cursive;
$fonteSecundaria: "Montserrat Alternates", sans-serif;
$foteEstilizacao: "Indie Flower", cursive;